* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    line-height: 200px;
    font-size: 70px;
    color: whitesmoke;
}

.box {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: grey;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

}

.box:active {
    left: 50%;
    top: 60%;
    color: whitesmoke;
    background-color: red;
}